#d {
    width: 700;
    height: 800;
    margin: auto;
    background-color: rgb(32, 29, 29);
    border-radius: 50px;
    padding: 30;
    color: white;
}

#a {
    display: flex;
    justify-content: space-around
}

.p {
    background-color: white;
    color: black;
    height: 50px;
    width: 50;
    font-size: 40;
    display: flex;
    justify-content: center

}

#as {
    display: flex;
    justify-content: space-around;
    padding: 30;

}
